
.navbar {
    padding-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
}
.navbar a {
    color: #000;
}
.navbar a:hover {
    color:rgb(251, 178, 125);
}
.button1 {
    border: 2em bold transparent;
    border-color: orange;
    background-color: orange;
}
.img1 {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
}
.bg-image:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .text-overlay {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-30%, -30%);
    color: white;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .on-campus1, .section3 h2 {
    color:orange;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    text-align: center;
  }

  .section4 h2 {
    color:orange;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
  }
  .on-campus2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .leftseparator {
   width:0;
   height: 0;
   border: solid transparent;
   border-right: 100vw solid transparent;
   border-bottom: 16.9vw solid white;
   margin-top:-3.9vw;
}
.rightseparator {
   width: 0;
   height: 0;
   border: solid transparent;
   border-left: 100vw solid transparent;
   border-bottom: 15.9vw solid orange;
   margin-bottom:0vw;
}
.rightwhiteseparator {
  width: 0;
  height: 0;
  border: solid transparent;
  border-left: 100vw solid transparent;
  border-bottom: 15.9vw solid white;
  margin-bottom:0vw;
}
.section2 h2 {
  background-color: orange;
  color: white;
  font-weight:bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.section2 {
  background-color: orange;
  color: rgb(0, 0, 0);
  font-weight:bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.section2heading,.panel {
  padding-bottom: 20px;
  text-align: center;
}
.section3 {padding-top: 20px;
  font-weight:bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000;
  text-align: center;
}
.part2 {
  position: relative;
}
.computericon {
  position:absolute;
  right:4%
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 70%;
  top: 50%;
}
#cards {
  width: 60%;
  height: 100%;
  margin-left: 25%;
}
.carousel-item {
  transition: 0s;
} 
.section4 h2 ,.section2 h2{
  padding-bottom: 40px;
}
.slideshow, .section4 {
  padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
} 
.section4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: large;
}




